<!-- Modal -->
<div class="modal fade bs-modal-sm" id="myModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <br>
      <div class="bs-example bs-example-tabs">
        <ul id="myTab" class="nav nav-tabs">
          <li class="active signin-field"><a href="#signin" data-toggle="tab">Sign In</a></li>
          <li class=""><a href="#signup" data-toggle="tab">Register</a></li>
        </ul>
      </div>
      <div class="modal-body">
        <div id="myTabContent" class="tab-content">
          <div class="tab-pane fade active in" id="signin">
            <fieldset>
              <div class="control-group">
                <label class="control-label" for="userid">Username:</label>
                <div class="controls">
                  <%= form_for :user, url: signin_path, :html => {:class => "form-horizontal"} do |f| %>
                  <%= f.text_field :username, :class => 'input-medium form-control', :id =>"username"  %>
                </div>
              </div>

              <!-- Password input-->
              <div class="control-group">
                <label class="control-label password-field" for="passwordinput">Password:</label>
                <div class="controls">
                  <%= f.password_field :password, :class => 'input-medium form-control' %>
                </div>
              </div>
              <!-- Button -->
              <div class="control-group">
                <label class="control-label" for="signin"></label>
                <div class="controls">
                  <%= f.submit 'Login', :class => 'btn btn-default btn-success', :id => 'signin' %>
                </div>
              </div>
            </fieldset>
            <% end %>
          </div>

          <div class="tab-pane fade" id="signup">
            <fieldset>

              <!-- Text input-->
              <div class="control-group">
                <label class="control-label" for="userid">Username:</label>
                <div class="controls">
                  <%= form_for :user, url: users_path do |f| %>
                  <%= f.text_field :username, :class => 'input-medium form-control', :id =>"username"  %>
                </div>
              </div>

              <!-- Password input-->
              <div class="control-group">
                <label class="control-label" for="password">Password:</label>
                <div class="controls">
                  <%= f.password_field :password, :class => 'input-medium form-control' %>
                </div>
              </div>

              <!-- Button -->
              <div class="control-group">
                <label class="control-label" for="confirmsignup"></label>
                <div class="controls">
                  <%= f.submit 'Sign Up', :class => 'btn btn-success btn-default', :id => 'signin' %>
                </div>
              </div>
            </fieldset>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>